.block-search {
  position: relative;
  display: flex;
  justify-content: flex-end;
  color: $white;

  .form-search {
    border-color: $white;
    width: 11rem;
    transition: width 0.3s;

    &.open {
      width: 20rem;
    }
  }

  .form-submit {
    opacity: 0;
    width: 35px;
    height: 35px;
  }

  .fa-search {
    position: absolute;
    top: 20px;
    right: 5px;
    z-index: -1;
    font-size: 1.5rem;
    color: $white;
  }
}

.path-search .block-system-main-block {
  @include layout();
}
