// colors
$dark-gray: #3c3c3c;
$white: #fff;
$off-white: #F3E9EA;
$maroon: #640D23;
$navy: #1E3650;
$vermillion: #D73C13; 
$teal: #25768F;

// Utility colors
$heading: $navy;
$link: $teal;

// Fonts
$alegreya: 'Alegreya', serif;
$roboto: 'Roboto', sans-serif;
$heading_font: $alegreya;
$body_font: $roboto;

$semiBold: 600;

@mixin bolder($font, $weight: 600) {
  font-family: $font;
  font-weight: $weight;
}

// Breakpoints & MQ's ///////////////
$screen: "only screen" !default;
$small-max: 767px !default;
$medium-max: 1023px !default;
$small: $screen max-width $small-max;
$up-sm: $screen $small-max + 1;
$medium: $screen $small-max + 1 $medium-max;
$large: $screen $medium-max + 1;

@mixin layout() {
  margin: 0 auto;
  
    @include breakpoint($up-sm) {
      max-width: 768px;
    }
  
    @include breakpoint($large) {
      max-width: 1024px;
    }
}

@mixin negativeMargin($number) {
  margin-left: -($number);
  margin-right: -($number);
}

@mixin button($color, $background, $hover) {
  border-radius: 5px;
  border: none;
  padding: 7px;
  font-weight: 500;
  transition: all 0.3s linear;
  color: $color;
  background: $background;

    &:hover {
      padding: 7px;
      background: $hover;
    }
}
