// colors
$dark-gray: #3c3c3c;
$white: #fff;
$black: #000;
$off-white: #F3E9EA;
$maroon: #640D23;
$navy: #1E3650;
$vermillion: #D73C13; 
$teal: #25768F;
$peach: #FED8CE;

// Utility colors
$heading: $navy;
$link: $teal;

// Fonts
$alegreya: 'Alegreya', serif;
$roboto: 'Roboto', sans-serif;
$serif: 'PT Serif', serif;
$sans-serif: 'PT Sans', sans-serif;
$heading_font: $serif;
$body_font: $sans-serif;

$semiBold: 600;

@mixin bolder($font, $weight: 600) {
  font-family: $font;
  font-weight: $weight;
}

// Breakpoints & MQ's ///////////////
$screen: "only screen" !default;
$small-max: 480px !default;
$medium-max: 767px !default;
$large-max: 1023px !default;
$small: $screen $small-max;
$medium: $screen $medium-max;
$large: $screen $large-max + 1;

@mixin layout() {
  margin: 0 auto;
  
    @include breakpoint($medium) {
      max-width: 768px;
    }
  
    @include breakpoint($large) {
      max-width: 1024px;
    }
}

@mixin negativeMargin($number) {
  margin-left: -($number);
  margin-right: -($number);
  padding-left: $number;
  padding-right: $number;
}

@mixin button($color, $background, $hover-color: auto, $hover-bg: auto) {
  border-radius: 5px;
  border: none;
  padding: 7px;
  font-weight: 500;
  transition: all 0.3s linear;
  color: $color;
  background: $background;
  font-size: 1.25rem;

    &:hover {
      padding: 7px;
      background: $hover-bg;
      color: $hover-color;
    }
}

@mixin enlarge() {
  display: inline-block;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}
