.block--bundle-hero {
    @include negativeMargin(20px);

    padding-top: 80px;
    padding-bottom: 80px;
    
    &--navy {
        background: $navy;
        color: $white;

        h2 {
            color: $gold;
        }

        .field--name-field-call-to-action a {
            @include button($black, $gold);
        }
    }

    &--teal {
        background: $teal-base;
        color: $off-white;

        h2 {
            color: $off-white;
        }

        .field--name-field-call-to-action a {
            @include button($white, $navy);
        }
    }

    h2 {
        @include layout();
    }

    @include breakpoint($medium) {
        &--right {
            h2,
            .field--name-body,
            .field--name-field-call-to-action {
                margin-left: 50%;
            }
        }
    }

    &__wrapper {
        @include layout();
    }

    .field--name-body {
        @include breakpoint($medium) {
            width: 50%;
        }
    }

    .field--name-field-call-to-action a {
        @include enlarge();

        margin-left: 7px;
    }
}
