.block--bundle-hero {
    @include negativeMargin(20px);

    padding-top: 80px;
    padding-bottom: 80px;
    color: $navy;
    background: $peach;
    

    .field--name-field-call-to-action a {
        @include button($white, $teal);
        @include enlarge();
    }

    h2 {
        color: $navy;

        @include layout();
    }

    @include breakpoint($medium) {
        &--right {
            h2,
            .field--name-body,
            .field--name-field-call-to-action {
                margin-left: 50%;
            }
        }
    }

    &__wrapper {
        @include layout();
    }

    .field--name-body {
        @include breakpoint($medium) {
            width: 50%;
        }
    }
}
