.header-wrapper {
  background: $navy;

  @include breakpoint($medium) {
    border-top: 15px solid $teal;
  }
}

.hamburger-menu {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  width: 45px;
  height: 38px;
  background: transparent;
  border-radius: 0;
  border: none;
  padding: 0;

  @include breakpoint($medium) {
    display: none;
  }

  &__toggle-line {
    display: block;
    position: absolute;
    width: 45px;
    height: 6px;
    background: $navy;

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 1rem;
      border-radius: 0;
      border: none;
    }

    &:last-child {
      top: 2rem;
    }
  }

  &.open .hamburger-menu__toggle-line {
    background: $off-white;
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 5;
  padding-top: 3rem;
  height: 100%;
  width: 100%;
  right: -100%;
  background: $navy;
  transition: right 0.3s;

  &.open {
    right: 0;

    @include breakpoint($medium) {
      position: relative;
      align-self: flex-end;
      padding-top: 0;
      width: auto;
      height: auto;
      right: auto;
      background: transparent;
    }
  }

  @include breakpoint($medium) {
    position: relative;
    align-self: flex-end;
    padding-top: 0;
    width: auto;
    height: auto;
    right: auto;
    background: transparent;
  }
}

.menu--main {
  margin-top: 5rem;

  @include breakpoint($medium) {
    margin-top: 0;
  }
}

.header-wrapper__inner {
  @include breakpoint($medium) {
    display: flex;
    justify-content:  space-between;
    padding-top: 2rem;
  }
}

.page--wrapper {
  ul.menu {
    @include breakpoint($medium) {
      display: flex;
      justify-content:  flex-end;
      margin: 0;
    }

    .menu-item {
      margin: 2.5rem 0;
  
      @include breakpoint($medium) {
        margin: 1rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    a {
      position: relative;
      color: $off-white;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: bold;
      font-size: 1.25rem;
      padding: 1rem;
      border: none;
      transition: all 0.3s;

      &.is-active {
        border-bottom: 7px solid $off-white;
        padding-bottom: 0.675rem;
      }
  
      &:hover {
        color: $navy;

        @include breakpoint($medium) {
          color: $off-white;
        }
  
        &::before {
          width: 100%;
        }
      }
  
      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 0%;
        height: 100%;
        top: 0;
        right: 0;
        background: $off-white;
        transition: width 0.3s;

        @include breakpoint($medium) {
          content: none;
          // top: auto;
          // right: auto;
          // bottom: 0;
          // left: 0;
          // height: 2px;
          // background: $navy;
        }
      }
    }
  } 
}
