.hamburger-menu {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  width: 45px;
  height: 38px;
  background: transparent;
  border-radius: 0;
  border: none;
  padding: 0;

  &__toggle-line {
    display: block;
    position: absolute;
    width: 45px;
    height: 6px;
    background: $dark-gray;

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 1rem;
      border-radius: 0;
      border: none;
    }

    &:last-child {
      top: 2rem;
    }
  }

  &.open .hamburger-menu__toggle-line {
    background: $pale-blue;
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 5;
  padding-top: 3rem;
  height: 100%;
  width: 100%;
  right: -100%;
  background: $dark-gray;
  transition: right 0.3s;

  &.open {
    right: 0;
  }
}

.page--wrapper ul.menu a,
.page--wrapper ul.menu a.is-active {
  display: block;
  color: $pale-blue;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 1rem;
  border: none;

  &:hover {
    padding: 1rem;
  }
}
