// Base HTML Elements.
html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: $body_font;
  font-size: 1em;
  line-height: 165%;
  background: $off-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include bolder($heading_font, 600);

  color: $heading;
  margin: 0.7rem 0;
}

.page--wrapper a,
.page--wrapper a:link,
.page--wrapper a:visited {
  padding-bottom: 1px;
  border-bottom: 2px solid;
  text-decoration: none;
  color: $link;
  transition: padding-bottom .3s ease;

  &:hover {
    padding-bottom: 4px;
  }
}

.page--wrapper {
  a.button,
  a.button:link,
  a.button:visited,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    @include button($white, $teal-base, $black, $teal-light);
  }
}

img {
  width: 100%;
}

blockquote {
  position: relative;
  margin: 3rem auto;
  border-left: 8px solid $teal-medium;
  padding: 3rem 3rem 3rem 5rem;
  width: 60%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;
  background: $navy;
  color: $off-white;

  &::before {
    position: absolute;
    content: '\201C';
    font-family: Arial;
    top: 5px;
    left: 33px;
    font-size: 4em;
    color: $gold;
  }
}

.form-item {
  position: relative;
  margin: 1.5rem 0;
}

label {
  position: absolute;
  font-weight: 500;
  transition: all 0.3s;

  &.focus {
    font-size: 0.8rem;
    top: -20px;
  }
}

input {
  background: transparent;
  border: none;
  border-bottom: 2px solid;
}

input[type="checkbox"] {
  position: relative;
  opacity: 0;
  z-index: 1;

  + label {
    position: relative;
    padding-left: 0.3rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -20px;
      border-radius: 3px;
      width: 20px;
      height: 20px;
      background: $orange;
    }
  }

  &:checked + label::before {
    content: '\2713';
    font-size: 20px;
  }

  &:focus + label::before {
    outline: -webkit-focus-ring-color auto 5px;
  }
}
