.page--wrapper {
  position: relative;
}

.cog--mq {
  padding: 0 20px;

  > *:not(#content) {
    @include layout();
  }
}

header#branding {
  position: relative;
  height: 5rem;
}

.main {
  margin-bottom: 5rem;
}

.block-page-title-block {
  @include layout();
}
