.page--wrapper {
  position: relative;
}

header#branding,
.pre-content,
.main {
  margin: 0 auto;
  padding: 0 20px;

  @include breakpoint($up-sm) {
    max-width: 768px;
  }

  @include breakpoint($large) {
    max-width: 1024px;
  }
}

header#branding {
  position: relative;
  height: 5rem;
}
