// Layout
//
// Sidebars Region Styling
//
// Markup: sidebars.twig
//
// Style guide: layout.sidebars

//////////////////////////////////
// Sidebar First /////////////////
//////////////////////////////////
.body-sidebars-first {
  @include breakpoint($medium) {
    .main > .cog--mq {
      display: grid;
      grid-template-columns: 25% 75%;
    }

    aside.sidebar-first {
      padding-right: 25px;
    }

    section#content {
      padding-left: 25px;
    }
  }
}
//////////////////////////////////
// Sidebar Second ////////////////
//////////////////////////////////
.body-sidebars-second {
  @include breakpoint($medium) {
    .main > .cog--mq  {
      display: grid;
      grid-template-columns: 75% 25%;
    }

    section#content {
      padding-right: 25px;
    }

    aside.sidebar-second {
      padding-left: 25px;
    }
  }
}
//////////////////////////////////
// Sidebar Both //////////////////
//////////////////////////////////
.body-sidebars-both {
  @include breakpoint($medium) {
    .main > .cog--mq  {
      display: grid;
      grid-template-columns: 20% 60% 20%;
    }

    aside.sidebar-first {
      padding-right: 25px;
    }

    aside.sidebar-second {
      padding-left: 25px;
    }
  }
}

//////////////////////////////////
// General Sidebar Rules /////////
//////////////////////////////////
aside.sidebar {
  overflow: hidden;
}
