.page--wrapper {
    footer {
        background: $navy;
        height: 30rem;

        @include breakpoint($medium) {
            height: 20rem;
        }

        ul.menu {
            justify-content: center;
        }

        ul.menu a,
        ul.menu a.is-active {
            color: $off-white;
            border: none;

            &:hover {
                color: rgba($off-white, 0.6);
            }
        }
    }

    .field--name-field-social-media-links {
        display: flex;
        justify-content: flex-start;
        margin: 2rem;

        @include breakpoint($medium) {
            justify-content: center;
        }

        .field__item {
            padding: 0 1rem;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        a {
            color: $off-white;
            border: none;
            font-size: 1.75rem;

            &:hover {
                color: rgba($off-white, 0.6);
            }
        }
    }
}

footer {
    .menu--main {
        padding-top: 4rem;
    }
}
