.page--wrapper {
    footer {
        background: $navy;
        height: 40rem;

        @include breakpoint($medium) {
            height: 30rem;
        }

        .cog--mq {
            display: flex;
            flex-direction: column;

            @include breakpoint($medium) {
                flex-direction: row;
            }
        }

        ul.menu {
            flex-direction: column;
        }

        ul.menu .menu-item {
            margin: 0.5rem 0;
        }

        ul.menu a,
        ul.menu a.is-active {
            padding-left: 0;
            color: $off-white;
            border: none;

            &:hover {
                color: rgba($off-white, 0.6);
            }
        }
    }

    .field--name-field-social-media-links {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 2rem;

        @include breakpoint($medium) {
            justify-content: flex-end;
        }

        .field__item {
            padding: 0 1rem;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        a {
            color: $off-white;
            border: none;
            font-size: 1.75rem;

            &:hover {
                color: rgba($off-white, 0.6);
            }
        }
    }
}

footer {
  padding-top: 4rem;  
}

.page--wrapper .menu--footer ul.menu a {
    text-transform:  none;
    font-size: 0.875rem;
    padding-left: 0;
    font-weight: normal;
}
