.page-node-type-blog-post {
  .cog--mq > #content {
    @include layout();
  }
}

.field--name-field-date {
  font-weight: 500;
}

.field--name-field-date {
  position: relative;
  display: inline-block;
  font-family: 'Alegreya', serif;
  color: $navy;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 500;

  &::after {
    content: "\2014";
    position: absolute;
    top: 0;
    right: -19px;
  }
}

.field--name-field-category {
  .field__item {
    display: inline;

    &::after {
      content: ',';
      padding-left: 1px;
      padding-right: 3px;
    }

    &:last-child::after {
        content: '';
    }
  }
}
