.views-row {
  margin: 2rem 0;
  padding: 1.5rem;
  background: $white;
  box-shadow: 0 0 3.5rem rgba(0,0,0,.11);
}

.node--type-blog-post {
  &.node--view-mode-teaser {
    display: flex;
  }

  &__image {
    flex-basis: 25%;
    margin-right: 1.5rem;
  }

  &__content-title {
    margin-top: .2rem;
  }
}

.node__links ul.inline li {
  padding: 0;
}
