.views-row {
  margin: 2rem 0;
  padding: 1.5rem;
  background: $white;
  box-shadow: 0 0 3.5rem rgba(0,0,0,.11);
}

.views-field-field-date {
  position: relative;
  display: inline-block;
  font-family: 'Alegreya', serif;
  color: $vermillion;
  font-style: italic;
  font-weight: 500;

  &::after {
    content: "\2014";
    position: absolute;
    top: 0;
    right: -19px;
  }
}

.views-field-title {
  margin-top: .2rem;
}
