.page-node-type-blog-post {
  .cog--mq > #content {
    @include layout();
  }
}

.field--name-field-date {
  position: relative;
  display: inline-block;
  font-family: $serif;
  color: $vermillion;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: bold;

  &::after {
    content: "\2014";
    position: absolute;
    top: 0;
    right: -19px;
  }
}

.embedded-entity {
 &.align-left {
    padding-right: 2rem;
  }

  &.align-right {
    padding-left: 2rem;
  }
}

.field--name-field-category {
  .field__item {
    display: inline;

    &::after {
      content: ',';
      padding-left: 1px;
      padding-right: 3px;
    }

    &:last-child::after {
        content: '';
    }
  }
}
